.background{
    min-height: 100vh;
    width:99vw;
    background-color: black;
    position:absolute;
    top:0;
    font-family: 'Roboto', sans-serif;
    left:0;
    overflow-x: hidden;
}
.background .content{
    width:65vw;
    min-height:100vh;
    margin-left:auto;
    margin-right:auto;
}
.background .content {
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background .content h2{
    font-size:2vw;
    margin-top:8vw; 
}
.background h1{
    font-size:8vw;
    margin-top:15vw;
    animation:fadeInTitle 1s forwards
}
@keyframes fadeInTitle{
    0%{opacity:0}
    0%{transform:translate(0,100%)}
    100%{transform:translate(0)}
    100%{opacity:1}
}
.background .form{
    display:flex;
    width:40vw;
    height:25vw;
    flex-direction: column;
    justify-content: space-around;
}
.background .content .inputBlock{
    width:40vw;
    font-size:1.5vw;
    display:flex;
    justify-content: space-between;
}

.background .content .inputBlock input{
    width:20vw;
    height:2.5vw;
    font-size:1.5vw;
    margin-right:5vw;
}
.background .content .inputBlock textarea{
    margin-right:5vw;
    width:20vw;
    font-size:1.5vw;
    height:5vw;
}
.background .form .btn {
    width:15vw;
    height:3vw;
    background-color:#E50914;
    color:white;
    display:flex;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:2vw;
    justify-content: space-around;
    cursor:pointer;
}
.btn button{
    border:none;
    background-color: #E50914;
    color:white;
    font-size:1.2vw;
    cursor:pointer;
}
.btnIcon{
    color:white;
    font-size:2vw;
}
.background .reach{
    font-size:3vw;
    color:White;
}
.contactIcons{
    display: flex;
    width:30vw;
    height:5vw;
    justify-content: space-around;
    align-items: center;
    font-size:5vw;
    margin-top:2vw;
    margin-bottom:5vw;
}
.contactIcons .icon:nth-child(1){
    color:#25D366;
    cursor:pointer;
}
.contactIcons .icon:nth-child(1):hover{
    color:#128C7E;
    transform:scale(1.1)
}
.contactIcons .icon:nth-child(2){
    color:#333;
    cursor:pointer;
}
.contactIcons .icon:nth-child(2):hover{
    color:rgb(68, 68, 68);
    transform:scale(1.1)
}
.contactIcons .icon:nth-child(3){
    color:#2867B2;
    cursor:pointer;
}
.contactIcons .icon:nth-child(3):hover{
    color:#3973b9;
    transform:scale(1.1)
}
.content p{
    color:white;
    font-size:1.2vw;
}
.background .content .sent{
    color:#25D366;
}
.background .content .fail{
    color:red;
}

@media only screen and (max-width:1400px){
    .background h1{
        margin-left:8vw;
        font-size:7vw;
    }
}
@media only screen and (max-width:1200px){
    .background .content h2{
        font-size:4vw;
        margin-top:5vw; 
    }
    .background .content .sent{
        font-size:2vw;
    }
    .background .content .fail{
        font-size:2vw;
    }
}

@media only screen and (max-width:1000px){
    .background .form{
        display:flex;
        width:80vw;
        height:35vw;
        align-items: center;
    }
    .background .form .inputBlock{
        width:60vw;
        height:20vw;
    }
    .background .form .inputBlock input{
        width:35vw;
        height:4vw;
        font-size:3vw;
    }
    .background .form .inputBlock textarea{
        width:35vw;
        height:8vw;
        font-size:3vw;
    }
    .background .form .inputBlock label{
        font-size:2.5vw;
    }
    .background .form .btn{
        width:30vw;
        margin-left:30vw;
        height:15vw;
    }
    .background .form .btn button{
        font-size:2.2vw;
    }
    .background .content .sent{
        font-size:2vw;
    }
    .background .content .fail{
        font-size:2vw;
    }
}
@media only screen and (max-width:700px){
    .contactIcons{
        font-size:10vw;
        width:50vw;
        margin-top:5vw;
    }
    .background .content .sent{
        font-size:3vw;
    }
    .background .content .fail{
        font-size:3vw;
    }
}
@media only screen and (max-width:500px){
    .background .form{
        display:flex;
        width:90vw;
        height:65vw;
        align-items: center;
    }
    .background .form .inputBlock{
        width:80vw;
        height:30vw;
    }
    .background .form .inputBlock input{
        width:50vw;
        height:7vw;
        font-size:4vw;
    }
    .background .form .inputBlock textarea{
        width:50vw;
        height:15vw;
        font-size:4vw;
    }
    .background .form .inputBlock label{
        font-size:3.5vw;
    }
    .background .form .btn{
        width:60vw;
        margin-left:15vw;
        margin-top:5vw;
        height:20vw;
    }
    .background .form .btn button{
        font-size:4vw;
    }
    .background .form .btn .btnIcon{
        font-size:4vw;
    }
    .background .content .sent{
        font-size:4vw;
    }
    .background .content .fail{
        font-size:4vw;
    }
    .background .content h2{
        font-size:4.5vw;
    }
}