.background{
    width:100vw;
    min-height:100vh;
    background-color: black;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.background h1{
    color:white;
    font-size:5vw;
    margin-top:15vw;
    animation:fadeInTitle 1s forwards;
}
.background h2{
    color:white;
    font-size:2vw;
    animation:fadeInTech 2.5s forwards;
}
.background .description {
    color:white;
    font-size:1.5vw;
    width:50vw;
    animation:fadeInDesc 2s forwards
}
.background ul{
    animation:fadeInTech 2.5s forwards;
    display:flex;
    list-style-type: none;
    width:35vw;
    margin-left:-2vw;
    justify-content: space-around;
}
.background li{
    font-size:5vw;
    width:5vw;
    height:5vw;
}
.background .trio:nth-child(1)  {
    color:#e34c26;
}
.background .trio:nth-child(2)  {
    color:#264de4;
}
.background .trio:nth-child(3)  {
    color:#f0db4f;
}
.background .tech:nth-child(1){
    color:#61DBFB;
    animation:reactRotate 5s linear infinite;
    pointer-events: none;
    height:5vw;
}
.background .tech:nth-child(2){
    color:#264de4;
}
.background .tech:nth-child(3){
    color:#264de4;
}
.background .tech:nth-child(3){
    color:#FFCB2B;
}
.background .tech:nth-child(4){
    color:#00758F;
}
.background .tech2{
    color:#3c873a;
}
.background .tech img{
    width:5vw;
    height:5vw;
}
@keyframes reactRotate{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}
@keyframes fadeInTitle{
    0%{opacity:0}
    0%{transform:translate(0,100%)}
    100%{transform:translate(0)}
    100%{opacity:1}
}
@keyframes fadeInDesc{
    0%{opacity:0}
    0%{transform:translate(0,100%)}
    50%{opacity:0}
    50%{transform:translate(0,100%)}
    100%{transform:translate(0)}
    100%{opacity:1}
}

@keyframes fadeInTech{
    0%{opacity:0}
    0%{transform:translate(-200%,0)}
    50%{opacity:0}
    50%{transform:translate(-200%,0)}
    100%{transform:translate(0,0)}
    100%{opacity:1}
}

.background .information{
    animation:fadeInTech 2.5s forwards;
    display:flex;
    width:40vw;
    justify-content: space-around;
}
.background .source{
    font-size:7vw;
    color:#333;
    cursor:pointer;
}
.background .source:hover{
    color:rgb(92, 92, 92);  
}
.background .youtube{
    font-size:7vw;
    color:#FF0000;
    cursor:pointer;
}
.background .yt:hover{
    color:#bd0000;
}
.background .links{
    margin-top:5vw;
}

@media only screen and (max-width:1000px){
    .background h1{
        font-size:8vw;
        margin-top:15vw;
    }
    .background .description {
        font-size:2vw;
        width:80vw;
    }
    .background h2{
        font-size:4vw;
    }
    .background ul{
        width:70vw;
    }
    .background li{
        font-size:8vw;
        width:8vw;
        height:8vw;
    }
    
    .background .tech:nth-child(1){
        color:#61DBFB;
        animation:reactRotate 5s linear infinite;
        pointer-events: none;
        height:8vw;
    }
    
    .background .tech img{
        width:8vw;
        height:8vw;
    }
    
}
@media only screen and (max-width:700px){
    .background h1{
        font-size:10vw;
    }
    .background .description {
        font-size:3vw;
        width:80vw;
    }
    .background h2{
        font-size:5vw;
    }
    .background ul{
        width:80vw;
        margin-left:-7vw;
    }
    .background li{
        font-size:10vw;
        width:10vw;
        height:10vw;
    }
    .background .tech:nth-child(1){
        color:#61DBFB;
        animation:reactRotate 5s linear infinite;
        pointer-events: none;
        height:10vw;
    }
    .background .tech img{
        width:10vw;
        height:10vw;
    }
    .background .information{
        width:60vw;
    }
    .background .source{
        font-size:10vw;
    }
    
    .background .youtube{
        font-size:10vw;
    }
    .background .links{
        margin-top:5vw;
    }
}

@media only screen and (max-width:500px){
    .background h1{
        font-size:12vw;
        width:90vw;
        margin-left:auto;
        margin-right:auto;
    }
    .background .description {
        font-size:4vw;
        width:80vw;
    }
    .background h2{
        font-size:6vw;
    }
    .background ul{
        margin-left:-12vw;
    }
}